.btn-dark, .btn-danger{
	&:hover{
		background-color: white;
		border: solid #ad1457 !important;
		color: #ad1457 !important;
		transform: scale(1.03) !important;
		transition: all .5s;
	}
}


p{
	font-size: 13px !important;
}

.card{
	border-radius: 0px;
}


.mid{
	height: 600px;
}

.text-main{
	color: #a7ffeb  ;
}

.about{
	font-size: 15px !important;
}

.container-text {
	position: relative;
	text-align: left;
	color: white;
	z-index: 1;
}

.h3-home{
	position: relative !important;
	color: white !important;
}

.container-fluid{
	scroll-behavior: smooth !important;
}

.navigation-button{
	position: fixed;
	top: 85%;
	right: 3%;
	z-index: 2;
	color: #263238;
	cursor: pointer;
	font-size: 35px;

	&:hover{
		color: #ad1457;
	}

	p{
		font-weight: 600;
	}
}

.line-1{
	width: 24em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255,.75);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);    
}




.team-member{
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(116,187,207,1) 41%, rgba(73,127,189,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(116,187,207,1)), color-stop(100%, rgba(73,127,189,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(116,187,207,1) 41%, rgba(73,127,189,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(116,187,207,1) 41%, rgba(73,127,189,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(116,187,207,1) 41%, rgba(73,127,189,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(116,187,207,1) 41%, rgba(73,127,189,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#497fbd', GradientType=1 );
}

/* HOME */ 

.search-fit-form {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.search-fit-form select, .search-fit-form button { 
    width: 100%!important;
    height: 50px;
}
.search-fit-form .location {
    width: 30%;
    margin-right: 2%;
}
.search-fit-form .search {
    width: 67%;
}
#imageProfessional {
    max-width: 10%;
    max-height: 10%;
    transform: scale(10);
}

@media only screen and (max-width:780px){
    h2 {
        font-size: 20px;
    } 
    h2 span {
        font-size: 20px!important;
    }
    /* HOME */
    .search-fit-form .location {
        width: 100%;
        margin-right: 0;
    }
    .search-fit-form .search {
        width: 100%;
    }
    .search-fit-form .search input {
        font-size: 12px;
    }
    .cta-register .view-more-button {
        width: 100%;
        float: none;
        margin-top: 15px;
    }
    .btnGrpMargin {
        padding: 0!important;
    }
    .btnGrpCss {
        padding: 10px 4px!important;
        border-radius: 0px!important;
        font-size: 9px;
    }

    /* Register */
    .btn-subtn {
        width: 100%;
    }

    /* Profile */ 
    .profile-menu li.nav-item {
        width: 100% !important;
    }
}

