
<div class="container-fluid px-0 py-0" style="overflow-x: hidden;">
	<div>
		<div class="navigation-button d-none d-sm-none d-md-block enlarge">
			<span class="navigation-button" (click)="goToTop()" class="fa fa-angle-double-up"></span><p class="text-uppercase pt-0 mt-0">Top</p>
		</div>

		<main-header-section></main-header-section>
	</div>
</div>

<main-about-us></main-about-us>

<main-covid-task-force></main-covid-task-force>

<main-contact-us></main-contact-us>

<main-footer></main-footer>