
<div class="container-fluid px-0 py-0" style="overflow-x: hidden;">
	<div>
		<div class="navigation-button d-none d-sm-none d-md-block enlarge">
			<span class="navigation-button" (click)="navigateTop()" class="fa fa-angle-double-up"></span><p class="text-uppercase pt-0 mt-0">Top</p>
		</div>

		<main-header-section></main-header-section>
	</div>
</div>

<main-about-us></main-about-us>
<!-- <div class="px-md-5 text-left my-5">
	<h1 class="text-white container-text">Barangay e-Portal</h1>





	<div class="social text-center text-danger pt-0 container-text">
		<a class="social px-2" href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook"></i></a>
		<a class="social px-2" href="https://github.com/sarwin-github" target="_blank"><i class="fa fa-github"></i></a>
		<a class="social px-2" href="https://www.linkedin.com/in/sherwin-dapito-20baa4126/"  target="_blank"><i class="fa fa-linkedin"></i></a>
		<a class="social px-2" href="https://www.instagram.com/sherwindapito/" target="_blank"><i class="fa fa-instagram"></i></a>
	</div><br><br>
</div> -->