<section class="section py-5" id="section-contactus" style="background-image: url(/assets/images/background/gallery_item_11.jpg); background-size: cover; background-repeat: no-repeat !important;">
	<div class="container py-5" style="position: relative;">
		<div class="row">
			<div class="col-md-10 offset-md-1" style="position: relative;">
				<div class="card bg-light-blue">
					<div class="card-header text-uppercase py-4 bg-dark-blue px-5 ml-4" 
					style="position: absolute !important; 
					top: -30px !important; 
					left: 100px !important;">
					<span style="font-size: 18px !important;">SEND INQUIRIES</span>
				</div>

				<div class="row card-body pt-3 bg-light-blue px-5">
					<!-- <div class="col-md-3">
						<img src="/public/images/dog-3.png" class="img" width="600px" style="position: absolute !important; bottom: -35px !important; left: -230px !important;">
					</div> -->
					<form class="col-12 col-sm-12 offset-md-1 col-md-10 form-horizontal pt-5" action='/' method='post'>
						<p class="about-haven-text pl-3">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc. Aliquet nibh praesent tristique magna sit amet purus. 
						</p>
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
									<input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12">
									<input type="text" class="form-control" id="name" name='name' placeholder="From" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<textarea class="form-control" rows="6" id="message" name='message' required>Message</textarea>
								</div>
							</div>
							<br>
							<div class="form-group">
								<div class="col-md-12 text-center hidden-sm-down">
									<button class="btn bg-dark-red px-5 mr-3 btn-lg" type="reset">RESET</button>
									<button class="btn bg-dark-blue px-5 btn-lg" type="submit">SUBMIT</button>
								</div>

							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

