<div class="container py-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-md-8 offset-md-2 px-md-0 pt-md-5 pr-md-5" style="position: relative !important;">
			<div class="px-4 pt-lg-3">
				<div class="card bg-white container-shadow px-4 ml-3">
					<div class="card-header text-uppercase py-4 px-5 bg-dark-blue" 
					style="position: absolute !important; top: -30px !important;">
						<span style="font-size: 18px !important;">Create a new account</span>
					</div>
					<div class="card-body bg-white pt-5">
						<form class="px-3" (submit)="signUpUser($event)" [formGroup]="userSignupForm">
							<!-- Error Message -->
							<div class="alert alert-danger alert-dismissible fade show error-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="error" role="alert">
							  	<a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
							  	<span [innerHtml]="error"></span>
							</div>  

							<div class="alert alert-success alert-dismissible fade show success-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="message" role="alert">
							  	<a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
							  	<span [innerHtml]="message"></span>
							</div>  

							

							<div class="form-group">
								<p class="text-justify text-dark mt-2">
									Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. 
								</p>

								<input type="email" class="form-control py-4" formControlName="email" placeholder="Enter email" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control py-4" formControlName="password" placeholder="Password" required>
							</div>

							<div class="form-group">
								<input type="password" class="form-control py-4" formControlName="confirmPassword" placeholder="Confirm Password">
							</div>

							<h4 class="text-dark mt-5">Account Details</h4>

							<div class="form-group">
								<!-- <input type="text" class="form-control py-4" placeholder="Role" formControlName="role" required> -->

								<div class="form-group">
								    <select class="form-control text-dark pr-3" style="height:50px !important;"
								    formControlName="role" required>
								    	<option disabled>Select Role</option>
								    	<option>Barangay Admin</option>
								    	<option>Municipality Admin</option>
								    </select>
								</div>
							</div>

							<div class="form-group">
								<input type="text" class="form-control py-4" placeholder="Full Name" formControlName="name" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control py-4" placeholder="Address" formControlName="address" required>
							</div>

							<div class="form-group">
								<input type="phone" class="form-control py-4" placeholder="Phone" formControlName="phone" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control py-4" placeholder="Municipality" formControlName="municipality" required>
							</div>

							<div class="text-center">
								<a [routerLink]="'/user/signin'" class="text-dark text-center full-width">Do you have an account already? Sign in now.</a><br>
							</div>

							<button type="submit" class="btn bg-dark-blue float-right mt-3 px-5">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


