<header class="header header-inverse main-header prof-header hidden-sm-down py-5">


	<div class="container mt-5">
		<div class="row h-full">

			<div class="col-md-8 pt-md-5 pr-md-5 offset-md-2" style="position: relative !important;" >
				<div data-aos="fade-up" data-aos-once="true">
					<div class="card bg-white text-black px-4 ml-3">
						<div class="card-header text-uppercase py-4 bg-dark-blue px-5" style="position: absolute !important; top: -30px !important;">
							<span style="font-size: 18px !important;">BRGY - COVID TASK FORCE</span>
						</div>
						<div class="card-body bg-white pt-4">
							<div class="media">
								<img class="mr-3 img img-fluid pt-md-5" width="270px" src="/assets/images/virus.png" >
								<div class="media-body"><br>
									<p class="text-dark mt-5 text-justify">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc. Aliquet nibh praesent tristique magna sit amet purus. 
									</p>

									<div class="text-center"><hr>
										<a href="#" class="btn bg-primary px-4 py-2">VOLUNTEER NOW!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>

			<div class="col-md-8 pt-md-5 pr-md-5 offset-md-2" style="position: relative !important;">
				<div data-aos="fade-up" data-aos-once="true">
					<div class="card bg-white text-black px-4 ml-3">
						<div class="card-header text-uppercase py-4 bg-dark-blue px-5" style="position: absolute !important; top: -30px !important;">
							<span style="font-size: 18px !important;">SANITATION AND ORDER</span>
						</div>
						<div class="card-body bg-white">
							<p class="text-dark mt-5 text-justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc. Aliquet nibh praesent tristique magna sit amet purus. <br><br>

								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc. Aliquet nibh praesent tristique magna sit amet purus. 
							</p>
						</div>
					</div>
				</div>
				<br>
			</div>

			<div class="col-md-8 pt-md-5 offset-md-2 pr-md-5" style="position: relative !important;">
				<div data-aos="fade-up" data-aos-once="true">
					<div class="card bg-white text-black px-4 ml-3">
						<div class="card-header text-uppercase py-4 bg-dark-blue px-5" style="position: absolute !important; top: -30px !important;">
							<span style="font-size: 18px !important;">MENTAL HEALTH AND COUNSELING</span>
						</div>
						<div class="card-body bg-white pt-5">
							<div class="media pt-md-4">
								<img class="mr-3 img img-fluid" width="200px" src="/assets/images/mask.png" >
								<div class="media-body">
									<p class="text-dark mt-5 text-justify">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc. Aliquet nibh praesent tristique magna sit amet purus. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>


</header>