<div class="container-fluid px-0 mb-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 px-md-0 pt-md-5" style="position: relative !important;">
			<div >
				<div class="card bg-white container-shadow px-4 ml-3">
					<div class="card-header text-uppercase py-4 bg-dark-blue px-5" style="position: absolute !important; top: -30px !important;">
						<span style="font-size: 18px !important;">Add New Household</span>
					</div>
					<div class="card-body bg-white pt-5">
						<div class="text-right">
							<button class="btn bg-dark-blue px-3" routerLink="/community/households">
								<i class="mr-2 fa fa-chevron-left"></i>
								Back to List
							</button>
						</div>
						<div class="px-1">
							<hr>
							<div class="text-justify text-dark">
								<p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. </p>
							</div>
							<hr>
							
							<div class="row">
								<div class="col-12 col-sm-12 col-md-2 text-center">
									<img class="img img-fluid side-image" width="100%" src="/assets/images/house-1.jpg">
									<button class="btn bg-dark-blue px-3 mt-2">
										House Image <i class="ml-2 fa fa-camera"></i>
									</button>
								</div>

								<div class="col-12 col-sm-12 col-md-10 mb-3 pr-lg-4">
									<form [formGroup]="householdForm" (submit)="createNewHousehold()">
										<!-- Error Message -->
										<div class="alert alert-danger alert-dismissible fade show error-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="error" role="alert">
											<a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
											<span [innerHtml]="error"></span>
										</div>  

										<div class="alert alert-success alert-dismissible fade show success-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="message" role="alert">
											<a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onAlertClose()">&times;</a>
											<span [innerHtml]="message"></span>
										</div>  

										<h5 class="text-white p-2 mb-3 bg-dark-blue">Household Information</h5>
										<div class="row">
											<div class=" col-12 col-sm-12 col-md-4">
												<!-- <input type="text" class="form-control py-4" placeholder="Head of the family" formControlName="household_head" required>
												 -->

												<select class="form-control text-dark pr-3" 
												style="height:50px !important;"
													formControlName="household_head" required>
													<option *ngFor="let resident of residents" [value]="resident?._id">{{resident?.last_name}}, {{resident?.first_name}} 
													</option>
												</select>

												<span class="floating-label">
													<span class="floating-label-bg">Head of the family</span>
												</span>
											</div>
											<div class="form-group col-12 col-sm-12 col-md-4">
												<input type="text" class="form-control py-4" placeholder="Household Name" formControlName="household_name" required>
												<span class="floating-label">
													<span class="floating-label-bg">Household Name</span>
												</span>
											</div>

											<div class="form-group col-12 col-sm-12 col-md-4">
												<input type="text" class="form-control py-4" placeholder="Household Number" formControlName="household_number" required>
												<span class="floating-label">
													<span class="floating-label-bg">Household Number</span>
												</span>
											</div>
										</div>

										<h5 class="text-white p-2 mb-3 bg-dark-blue">Household Address</h5>
										<div class="row">
											<div class="form-group col-12 col-sm-12 col-md-8">
												<input type="text" class="form-control py-4" placeholder="Street" formControlName="street" required>
												<span class="floating-label">
													<span class="floating-label-bg">Street</span>
												</span>
											</div>

											<div class="form-group col-12 col-sm-12 col-md-4">
												<input type="text" class="form-control py-4" placeholder="Barangay" formControlName="barangay" required>
												<span class="floating-label">
													<span class="floating-label-bg">Barangay</span>
												</span>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="form-group col-12 col-sm-12 col-md-4">
												<input type="text" class="form-control py-4" placeholder="City" formControlName="city" required>
												<span class="floating-label">
													<span class="floating-label-bg">City</span>
												</span>
											</div>

											<div class="form-group col-12 col-sm-12 col-md-4">
												<input type="text" class="form-control py-4" placeholder="Province" formControlName="province" required>
												<span class="floating-label">
													<span class="floating-label-bg">Province</span>
												</span>
											</div>
										</div>
										<br>
										<h5 class="text-white p-2 mb-3 bg-dark-blue">Household Inhabitants</h5>
										<div class="mt-2">
											<p-pickList [source]="sourceInhabitant" 
											[target]="currentInhabitant" 
											sourceHeader="Select Inhabitants" 
											targetHeader="Current Inhabitants" 
											[responsive]="true" filterBy="brand"
											dragdrop="true" 
											sourceFilterPlaceholder="Search by Last Name" 
											targetFilterPlaceholder="Search by Last Name" 
											[sourceStyle]="{'height':'300px'}" 
											[targetStyle]="{'height':'300px'}">
											    <ng-template let-resident pTemplate="item">
											        <div class="ui-helper-clearfix">
											            <img src="assets/images/face-1.jpg" style="display:inline-block;margin:2px 0 2px 2px" width="48">
											            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{resident.last_name}}, {{resident.first_name}} </div>
											        </div>
											    </ng-template>
											</p-pickList>
										</div>

										<button type="submit" class="btn bg-dark-blue float-right mt-3 px-5">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-toast position="bottom-center"></p-toast>