#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
}

.btn-white-transparent{
	color: #868686 !important;
}

.info-ave i{
	font-size: 40px !important;
}

.info-ave-text{
	position: absolute; 
	margin-top: 8px !important;
}

.footer-message{
	font-size: 13px !important;
	font-weight: 300 !important;
}

.btn-white-transparent-icon{
  color: #868686;
  background: white;
  border-color: #868686;
  padding: 10px !important;
  width: 50px !important;
  border-radius: 15px;
  border-width: 2px !important;
  font-size: 20px !important;

  &:hover{
  	background: white !important;
  	color: #868686 !important;
  }
}

