<footer class="site-footer pb-70 bg-gray pt-5" style="background-image: url(/assets/images/background/gallery_image.jpg); background-size: cover; background-repeat: no-repeat !important;">
	<div class="container px-0 text-dark" data-aos="fade-up" data-aos-once="true">
		<div class="row gap-y">
			<div class="col-12 col-md-12 col-lg-3 py-3 info-ave">
				
				<i class="fa fa-map-marker mr-3"></i> 
				<span class="info-ave-text">123 Seventh Avenue, 4th Floor</span><br><br><br>
			
				<i class="fa fa-envelope-square mr-3"></i> 
				<span class="info-ave-text">happy_group@fourtwenty.com</span><br><br><br>

				<i class="fa fa-phone mr-3"></i> 
				<span class="info-ave-text">923 844 1547</span><br><br><br>
			</div>

			<div class="col-12 col-md-12 col-lg-6 text-center">
				<h6 class="heading-alt text-uppercase fs-14 mb-16">
					<img src="/assets/images/logo.png" class="img img-fluid mr-2" width="50px" > Barangay e-Portal
				</h6>
				<p class="px-md-5 mt-5 footer-message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<br>
				<p class="">Copyright © 2020</p>
			</div>

			<div class="col-12 col-md-12 col-lg-3 text-center  py-5">
				<h4 class="heading-alt text-uppercase fs-14 mb-16 pl-0">
					CONNECT WITH US
				</h4>
				
				<br>

				<div>
					<button class="btn btn-white-transparent-icon mr-1 hvr-float">
						<i class="fa fa-facebook"></i>
					</button>

					<button class="btn btn-white-transparent-icon mr-1 hvr-float">
						<i class="fa fa-twitter"></i>
					</button>

					<button class="btn btn-white-transparent-icon mr-1 hvr-float">
						<i class="fa fa-instagram"></i>
					</button>

					<button class="btn btn-white-transparent-icon mr-1 hvr-float">
						<i class="fa fa-google-plus"></i>
					</button>
				</div>
			</div>

		</div>
	</div>
</footer>

