<section class="section px-3 py-5" id="section-content"
style="position: relative;">
  <div class="container text-center bg-img-abt-upper">
    <div class="row h-full">
      <div class="col-md-6 offset-md-3 mb-5 text-black mt-md-5">
        <div class="mt-md-5 py-5">
          <!-- <img src="/assets/images/logo.png" width="200px" class="img img-fluid"> -->
          
          <h1 class="text-uppercase text-dark"><strong>SAN NARCISO, QUEZON</strong></h1>
          <br><br><br>
          <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Pellentesque sit amet porttitor eget dolor. Sit amet dictum sit amet. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Orci a scelerisque purus semper eget duis at tellus. Risus viverra adipiscing at in tellus integer feugiat. Sit amet nisl suscipit adipiscing bibendum est ultricies.  </p>

          <div class="px-md-5 text-left"><br><br><br><br>
            <div class="social text-center text-danger pt-0 container-text">
              <a class="social px-2" href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="social px-2" href="https://github.com/sarwin-github" target="_blank"><i class="fa fa-github"></i></a>
              <a class="social px-2" href="https://www.linkedin.com/in/sherwin-dapito-20baa4126/"  target="_blank"><i class="fa fa-linkedin"></i></a>
              <a class="social px-2" href="https://www.instagram.com/sherwindapito/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div><br><br>
          </div>

          <br>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="section px-3 py-5 bg-img-abt " id="section-content">
  <div class="container text-center mt-5 pb-5">
    <div class="row h-full">
      <div class="col-md-6 mb-5 text-black py-0 mb-0 mt-5">
        <img src="/assets/images/background/gallery_item.jpg" style="cursor: pointer;"
         class="img img-fluid img-thumbnail">
      </div>

      <div class="col-md-6 mb-5 text-black text-left mt-md-5 pl-lg-5">
        <div class="mt-md-5">
          <h3 class="text-uppercase text-yellow-head"><strong>Our Mission</strong></h3>

          <br>

          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Pellentesque sit amet porttitor eget dolor. Sit amet dictum sit amet. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Orci a scelerisque purus semper eget duis at tellus. Risus viverra adipiscing at in tellus integer feugiat. Sit amet nisl suscipit adipiscing bibendum est ultricies.  </p>
        </div>
      </div>

    </div>
  </div>

  <div class="container text-center mt-2">
    <div class="row h-full">
     
      <div class="col-md-6 mb-5 text-black text-left mt-md-5">
        <div>
          <h3 class="text-uppercase text-yellow-head">Our Visions</h3>

          <br>

          <p class="text-white pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Pellentesque sit amet porttitor eget dolor. Sit amet dictum sit amet. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Orci a scelerisque purus semper eget duis at tellus. Risus viverra adipiscing at in tellus integer feugiat. Sit amet nisl suscipit adipiscing bibendum est ultricies.  </p>

        </div>
      </div>
      <div class="col-md-6 mb-5 text-black py-0 mb-0 mt-2">
        <img src="/assets/images/background/gallery_item_5.jpg" 
        style="cursor: pointer;"
        
        class="img img-fluid img-thumbnail"><br><br><br>
      </div>
    </div>
  </div>
</section>


<section class="section px-3 py-5" id="section-content" style="background: #2F4963 !important;">
  <div class="container text-center mt-5">
    <div class="row h-full">
      <div class="col-md-6 mb-5 text-black py-0 mb-0 mt-2">
        <img src="/assets/images/background/gallery_item_8.jpg"
        style="cursor: pointer;"
        
        class="img img-fluid img-thumbnail" style="border: 4px solid whitesmoke !important;">

        <div class="navigation-button d-none d-sm-none d-md-block enlarge">
          <span class="navigation-button" (click)="navigateTop()" class="fa fa-angle-right"></span>
        </div>
      </div>
      <div class="col-md-6 mb-5 text-black text-left pt-3 pl-lg-5">
        <div>
          <h3 class="text-uppercase text-yellow-head"><strong>Our System</strong></h3>
          <br>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Pellentesque sit amet porttitor eget dolor. Sit amet dictum sit amet. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Orci a scelerisque purus semper eget duis at tellus. Risus viverra adipiscing at in tellus integer feugiat. Sit amet nisl suscipit adipiscing bibendum est ultricies.  
          </p>
        </div>

        <br>

        <a href="/shop" class="btn btn-white-transparent hvr-grow">Check Demo</a>
      </div>

    </div>
  </div>


</section>