dd{
	color: #868686 !important;
}

.container-shadow{
	border-radius: 2px;
	-webkit-box-shadow: 12px 13px 0px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 12px 13px 0px 2px rgba(0,0,0,0.2);
	box-shadow: 12px 13px 0px 2px rgba(0,0,0,0.2);
}