<div class="container-fluid px-0 mb-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 px-md-0 pt-md-5" style="position: relative !important;">
			<div >
				<div class="card bg-white px-4 ml-3">
					<div class="card-header text-uppercase py-4 bg-dark-blue" style="position: absolute !important; top: -30px !important;">
						<span style="font-size: 18px !important;">Community Dashboard</span>
					</div>
					<div class="card-body bg-white pt-5">
						<div class="px-1 pt-4">
							<hr>
							<div class="text-justify text-dark">
								<p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. </p>
							</div>
							<hr>
							
							<div class="row">
								<div class="col-12 col-md-6 mb-3">
									<img src="/assets/images/tradin-margin.svg" width="100%">
								</div>
								<div class="col-12 col-md-6 mb-3">
									<img src="/assets/images/tradin-margin.svg" width="100%">
								</div>
							</div>

							<hr>

							<div class="text-justify text-dark">
								<p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. </p>
							</div>
							<hr>

							<div class="row">
								<div class="col-12 col-md-4 mb-3">
									<img src="/assets/images/tradin-margin.svg" width="100%">
								</div>
								<div class="col-12 col-md-4 mb-3">
									<img src="/assets/images/tradin-margin.svg" width="100%">
								</div>
								<div class="col-12 col-md-4 mb-3">
									<img src="/assets/images/tradin-margin.svg" width="100%">
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
