<div class="container py-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">

	<div class="row">
		<div class="col-12 col-sm-12 col-md-10 offset-md-1 px-md-0 pt-md-5" style="position: relative !important;">
			<div class="px-4 pt-lg-3">
				<div class="card bg-white container-shadow px-4 ml-3">
					<div class="card-header text-uppercase py-4 px-5 bg-dark-blue" style="position: absolute !important; top: -30px !important;">
						<span style="font-size: 18px !important;">Account Details</span>
					</div>
					<div class="card-body pt-5">
						<div class="px-1 pt-4">
							<div class="text-justify text-dark">
								<p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. </p>
							</div>
							<hr>
							<div class="media text-dark">
								<img class="mr-5" src="/assets/images/face-1.jpg" alt="">
								<div class="media-body">
									<dl class="text-left">
										<dd>
											Name: {{user_data.user?.name}}
										</dd>
										<dd>
											Email: {{user_data.user?.email}}
										</dd>
										<dd>
											Phone: {{user_data.user?.phone}}
										</dd>
										<dd>
											Address: {{user_data.user?.address}}
										</dd>
										<dd>
											Role: {{user_data.user?.role}}
										</dd>
										<dd>
											Municipality: {{user_data.user?.municipality}}
										</dd>
									</dl>
								</div>
							</div>
							<hr>
							<button type="submit" class="btn bg-dark-blue float-right px-5">Edit Information</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
